{% extends "components/header.html" %}
{% block title %}{{ team["name"] }} | OddManRush{% endblock %}

{% block content %}
    <div class = "text-gray-800">
        <!-- Header -->
        <div class = "mb-6 relative">
            <img class = "h-65 object-cover w-full md:h-60" src = "../static/img/team_info_cover.jpg" alt = "Teams Header Div Photo">
            <div class = "absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>

            <p class = "absolute bottom-10 font-extrabold left-1/2 text-6xl text-white -translate-x-1/2 md:left-10 md:translate-x-0">
                {{ team['name'] }}
            </p>
        </div>

        <!-- What's Up? Section -->
        <div class = "flex flex-col gap-6 justify-self-center mb-6 w-11/12">
            <div class = "flex justify-between items-center">
                <h1 class = "font-extrabold w-[15%] text-3xl">What's Up?</h1>
                <hr class = "bg-slate-200 border-0 h-1 rounded-sm w-[85%]">
            </div>

            <div class = "flex flex-row gap-8">
                <div class = "flex flex-col gap-3 w-[33.3%]">        
                    <!-- Quick Team Stats -->
                    {% for entry in standings['standings'] %}
                        {% if team['name'] == entry['teamName']['default'] %}
                                <!-- Position -->
                                <div class = "flex flex-col gap-[0.67]">
                                    <div>
                                        <p class = "font-bold text-2xl">Standing</p>
                                    </div>

                                    <div>
                                        <hr class = "bg-slate-100 border-0 h-1 rounded-sm w-full">
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">{{ entry['conferenceName'] }} Conference</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['conferenceSequence'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">{{ entry['divisionName'] }} Division</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['divisionSequence'] }}</p>
                                        </div>
                                    </div> 

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">League</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['leagueSequence'] }}</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Record -->
                                <div class = "flex flex-col gap-[0.67]">
                                    <div>
                                        <p class = "font-bold text-2xl">Record</p>
                                    </div>

                                    <div>
                                        <hr class = "bg-slate-100 border-0 h-1 rounded-sm w-full">
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">PTS</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['points'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">P%</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['pointPctg']|round(3) }}</p>
                                        </div>
                                    </div> 

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">DIFF</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['goalDifferential'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">GF</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['goalFor'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">GA</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['goalAgainst'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">GP</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['gamesPlayed'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">L10</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['l10Wins'] }}-{{ entry['l10Losses'] }}-{{ entry['l10OtLosses'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">W-L-OT</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['wins'] }}-{{ entry['losses'] }}-{{ entry['otLosses'] }}</p>
                                        </div>
                                    </div> 

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">HOME</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['homeWins'] }}-{{ entry['homeLosses'] }}-{{ entry['homeOtLosses'] }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">AWAY</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['roadWins'] }}-{{ entry['roadLosses'] }}-{{ entry['roadOtLosses'] }}</p>
                                        </div>
                                    </div>

                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            <p class = "font-bold text-lg">STRK</p>
                                        </div>
                                        <div>
                                            <p class = "text-lg">{{ entry['streakCode'] }}{{ entry['streakCount'] }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Previous Game -->
                <div class = "flex w-[33.3%]">
                    <div class = "backdrop-blur-[1px] bg-white/[0.33] cursor-pointer fade-in flex flex-col gap-3 h-full p-6 relative rounded-lg self-center
                                  shadow-md transition-all w-full hover:bg-slate-200/40 active:bg-slate-200/40"
                        onanimationend = "this.classList.remove('fade-in')">
                        <h2 class = "font-bold text-2xl">Previous Game</h2>

                        {% set data = namespace(found = 0) %}

                        {% for game in schedule['games']|reverse %}
                            {% if game['gameDate'] < today %}
                                <div class = "flex flex-col gap-3 w-full">
                                    <!-- Away Team Info -->
                                    <div class = "flex flex-row items-center justify-between">
                                        <div class = "flex items-center">
                                            <img class = "h-16 w-auto" src = "{{ game['awayTeam']['logo'] }}" alt = "{{ game['awayTeam']['commonName']['default'] }}">
                                            <p class = "font-bold text-xl">{{ game['awayTeam']['commonName']['default'] }}</p>
                                        </div>
                                        
                                        <div class = "mr-4">
                                            <p class = "font-extrabold text-2xl">{{ game['awayTeam']['score'] }}</p>
                                        </div>
                                    </div>

                                    <!-- Home Team Info -->
                                    <div class = "flex flex-row items-center justify-between">
                                        <div class = "flex items-center">
                                            <img class = "h-16 w-auto" src = "{{ game['homeTeam']['logo'] }}" alt = "{{ game['awayTeam']['commonName']['default'] }}">
                                            <p class = "font-bold text-xl">{{ game['homeTeam']['commonName']['default'] }}</p>
                                        </div>

                                        <div class = "mr-4">
                                            <p class = "font-extrabold text-2xl">{{ game['homeTeam']['score'] }}</p>
                                        </div>
                                    </div>

                                    <!-- Reg/OT, Venue, and Date -->
                                    <div class = "flex flex-row justify-between">
                                        <div>
                                            {% if game['gameOutcome']['lastPeriodType'] == "REG" %}
                                                <p class = "font-bold text-lg">Regulation</p>
                                            {% else %}
                                                <p class = "font-bold text-lg">Overtime</p>
                                            {% endif %}
                                        </div>

                                        <div class = "flex flex-col">
                                            <div>
                                                <p class = "font-bold text-lg">{{ game['gameDate'] }}</p>   
                                            </div>
                                            <div>
                                                {{ game['venue']['default'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% set data.found = 1 %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                        {% if data.found == 0 %}
                            <div class = "flex flex-col gap-3 w-full">
                                <!-- Away Team Info -->
                                <div class = "flex flex-row items-center justify-between">
                                    <div class = "flex items-center">
                                        <img class = "h-16 w-auto" src = "{{ (prev_schedule['games']|last)['awayTeam']['logo'] }}" alt = "{{ (prev_schedule['games']|last)['awayTeam']['commonName']['default'] }}">
                                        <p class = "font-bold text-xl">{{ (prev_schedule['games']|last)['awayTeam']['commonName']['default'] }}</p>
                                    </div>
                                    
                                    <div class = "mr-4">
                                        <p class = "font-extrabold text-2xl">{{ (prev_schedule['games']|last)['awayTeam']['score'] }}</p>
                                    </div>
                                </div>
                                
                                <!-- Home Team Info -->
                                <div class = "flex flex-row items-center justify-between">
                                    <div class = "flex items-center">
                                        <img class = "h-16 w-auto" src = "{{ (prev_schedule['games']|last)['homeTeam']['logo'] }}" alt = "{{ (prev_schedule['games']|last)['homeTeam']['commonName']['default'] }}">
                                        <p class = "font-bold text-xl">{{ (prev_schedule['games']|last)['homeTeam']['commonName']['default'] }}</p>
                                    </div>
                                    
                                    <div class = "mr-4">
                                        <p class = "font-extrabold text-2xl">{{ (prev_schedule['games']|last)['homeTeam']['score'] }}</p>
                                    </div>
                                </div>
                                
                                <!-- Reg/OT, Venue, and Date -->
                                <div class = "flex flex-row justify-between">
                                    <div class = "flex flex-col">
                                        <div>
                                            {% if (prev_schedule['games']|last)['gameOutcome']['lastPeriodType'] == "REG" %}
                                                <p class = "font-bold text-lg">Regulation</p>
                                            {% else %}
                                                <p class = "font-bold text-lg">Overtime</p>
                                            {% endif %}
                                        </div>

                                        <div>
                                            <p class = "font-bold text-lg">{{ (prev_schedule['games']|last)['gameDate'] }}</p>
                                        </div>
                                        <div>
                                            {{ (prev_schedule['games']|last)['venue']['default'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Next Game -->
                <div class = "flex w-[33.3%]">
                    <div class = "backdrop-blur-[1px] bg-white/[0.33] cursor-pointer fade-in flex flex-col gap-3 h-full p-6 relative rounded-lg self-center
                                shadow-md transition-all w-full hover:bg-slate-200/40 active:bg-slate-200/40"
                        onanimationend = "this.classList.remove('fade-in')">

                        <h2 class = "font-bold text-2xl">Next Game</h2>

                        {% set data = namespace(found = 0) %}

                        {% for game in schedule['games'] %}
                            {% if game['gameDate'] > today %}
                                    <div class = "flex flex-col gap-3 w-full">
                                        <!-- Away Team Info -->
                                        <div class = "flex flex-row items-center">
                                            <img class = "h-16 w-auto" src = "{{ game['awayTeam']['logo'] }}" alt = "{{ game['awayTeam']['commonName']['default'] }}">
                                            <p class = "font-bold text-xl">{{ game['awayTeam']['commonName']['default'] }}</p>
                                        </div>

                                        <!-- Home Team Info -->
                                        <div class = "flex flex-row items-center">
                                            <img class = "h-16 w-auto" src = "{{ game['homeTeam']['logo'] }}" alt = "{{ game['homeTeam']['commonName']['default'] }}">
                                            <p class = "font-bold text-xl">{{ game['homeTeam']['commonName']['default'] }}</p>
                                        </div>

                                        <!-- Venue and Date -->
                                        <div class = "flex flex-col items-end">
                                            <div>
                                                <p class = "font-bold text-lg">{{ game['gameDate'] }}</p>
                                            </div>
                                            <div>
                                                {{ game['venue']['default'] }}
                                            </div>
                                        </div>
                                    </div>

                                {% set data.found = 1 %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                        {% if data.found == 0 %}
                            <div class = "flex flex-col gap-3 w-full">
                                <!-- Away Team Info -->
                                <div class = "flex flex-row items-center">
                                    <img class = "h-16 w-auto" src = "{{ next_schedule['games'][0]['awayTeam']['logo'] }}" alt = "{{ next_schedule['games'][0]['awayTeam']['commonName']['default'] }}">
                                    <p class = "font-bold text-2xl">{{ next_schedule['games'][0]['awayTeam']['commonName']['default'] }}</p>
                                </div>

                                <!-- Home Team Info -->
                                <div class = "flex flex-row items-center">
                                    <img class = "h-16 w-auto" src = "{{ next_schedule['games'][0]['homeTeam']['logo'] }}" alt = "{{ next_schedule['games'][0]['homeTeam']['commonName']['default'] }}">
                                    <p class = "font-bold text-2xl">{{ next_schedule['games'][0]['homeTeam']['commonName']['default'] }}</p>
                                </div>

                                <!-- Venue and Date -->
                                <div class = "flex flex-col items-end">
                                    <div>
                                        <p class = "font-bold text-lg">{{ next_schedule['games'][0]['gameDate'] }}</p>
                                    </div>
                                    <div>
                                        {{ next_schedule['games'][0]['venue']['default'] }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Roster Section -->
        <div class = "flex flex-col gap-6 justify-self-center mb-6 w-11/12">
            <div class = "flex justify-between items-center">
                <h1 class = "font-extrabold w-[9.5%] text-3xl">Roster</h1>
                <hr class = "bg-slate-200 border-0 h-1 rounded-sm w-[90.5%]">
            </div>

            <div class = "flex flex-col gap-8">
                {% for category in roster %}
                    <div class = "backdrop-blur-[1px] bg-white/[0.33] cursor-pointer fade-in flex flex-col gap-2 p-6 relative rounded-lg self-center
                                  shadow-md transition-all w-full hover:bg-slate-200/40 active:bg-slate-200/40"
                         onanimationend = "this.classList.remove('fade-in')">
                        <div class = "flex flex-col gap-[0.67]">
                            <h2 class = "font-bold text-2xl">{{ category|capitalize }}</h2>

                            <div class = "gap-10 gap-y-1 grid justify-center [grid-template-columns:repeat(auto-fill,9rem)]">
                                {% for player in roster[category] %}
                                    <div class = "flex flex-col gap-2 items-center text-center w-32">
                                        <div class = "flex">
                                            <img class = "drop-shadow-lg h-auto w-32" src = "https://assets.nhle.com/mugs/nhl/{{ season }}/{{ abbr|upper }}/{{ player['id'] }}.png" alt = "{{ player['firstName.default'] }} {{ player['lastName.default'] }}"> 
                                        </div>

                                        <div class = "flex flex-col gap-[0.67] items-center w-full">
                                            <h4 class = "font-bold leading-tight text-lg w-full">{{ player["firstName"]["default"] }} {{ player["lastName"]["default"] }}</h4>
                                            <h4 class = "text-md">{{ player["sweaterNumber"] }} | {{ player["birthCountry"] }}</h4>
                                        </div>
                                    </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}