{% extends "components/header.html" %}
{% block title %}Teams | OddManRush{% endblock %}

{% block content %}
    <div class = "text-gray-800">
        <!-- Header -->
        <div class = "mb-6 relative">
            <img class = "h-65 object-cover w-full md:h-60" src = "../static/img/klim-musalimov-euLTzm-0Vgc-unsplash.jpg" alt = "Teams Header Div Photo">
            <div class = "absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>

            <p class = "absolute bg-white bg-clip-text bottom-10 left-1/2 text-6xl font-extrabold 
                        pattern-diagonal-stripes-md text-transparent -translate-x-1/2 md:left-10 md:translate-x-0 [background-blend-mode:multiply]">TEAMS</p>
        </div>

        <!-- Team Cards -->
        <div class="flex flex-col gap-3 items-center justify-items-center p-6 md:grid md:grid-cols-2 md:gap-y-4">
            {% for team in teams %}
                <div class = "backdrop-blur-xs bg-white/40 cursor-pointer flex items-center justify-between overflow-hidden p-6 
                              r-3 relative rounded-lg shadow-md transition-all w-11/12 hover:bg-slate-100/40 hover:-translate-y-1 active:bg-slate-200/40">
                    <div class = "flex flex-col">
                        <p class = "font-bold text-xl">{{ team["name"] }}</p>
                        <p class = "fontsemibold text-base">{{ team["abbr"] }}</p>
                    </div>
                    
                    {% if team["abbr"] == "PIT" %}
                        <img class = "absolute drop-shadow-lg h-42 -right-7 -top-5 w-auto md:h-18 md:-right-0 md:top-2.5" src = "{{ team["logo"] }}" alt = "{{ team["name"] }}">
                    {% else %}
                        <img class = "absolute drop-shadow-lg h-42 -right-7 w-auto md:h-18 md:-right-0" src = "{{ team["logo"] }}" alt = "{{ team["name"] }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}